absl-py
annotated-types
anyio
asttokens
click
colorama
comm
debugpy
decorator
executing
fastapi
greenlet
h11
idna
immutabledict
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
numpy
ortools
packaging
pandas
parso
platformdirs
prompt_toolkit
protobuf
psutil
psycopg2-binary
pure_eval
pydantic
pydantic_core
Pygments
python-dateutil
pytz
pyzmq
six
sniffio
SQLAlchemy
stack-data
starlette
tornado
traitlets
typing-inspection
typing_extensions
tzdata
uvicorn
wcwidth
mangum
fastapi
uvicorn[standard]
psycopg2-binary